* {
    padding: 0;
    margin: 0;
}

#sidebar a {
    color: #6c757d;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 700;
    font-size: 1.25rem;

    &.active {
        color: #212529;
        border-bottom: 2px #212529 solid;
    }
}

.container {
    width: 100%;
    background-color: #d6d7da;
    font-family: 'Poppins', sans-serif;
    height: 160vh;
    padding-top: 50px;
    
    .weather {
        max-width: 980px;
        padding: 100px;
        border-radius: 10px;
        margin: 0 auto;
        background: #fff;
        text-align: center;
        color: #fff;
    
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.5rem;

    input {
        border: none;
        outline: none;
        padding: 12px 25px;
        font-size: 18px;
        background-color: rgb(222, 237, 243);
        color: #000;
        border-radius: 30px;
        flex: 1;
        margin-right: 12px;
    }

    button {
        border-radius: 50%;
        border: none;
        cursor: pointer;
        padding: 8px;
    
        overflow: hidden;

        img {
            border: none;
            outline: none;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
            width: 70px;
            height: 70px;
        }
    }
}

.content {
    background-color: rgb(246, 246, 248);
    width: 100%;
}
.info {
    margin-bottom: 1.5rem;

    > h1 {
        font-size: 55px;
        font-weight: 400;
        line-height: 1.3;
        color: #212529;
    }

    > h2 {
        font-size: 2rem!important;
        line-height: 1.25!important;
        font-weight: 700!important;
        color: #212529;
    }

    > h3 {
        color: #212529;
        line-height: 1.5;
        font-size: 1.25rem;
    }

    > p {
        color: #6c757d;
        text-transform: capitalize;
        line-height: 1.5;
        font-size: 1rem;
    }

    img {
        width: 100px;
        height: 100px;
    }
}

.info img {
    width: 100px;
    height: 100px;
}
.details {
    display: flex;
    height: 400px;

    width: 100%;

    .col {
        display: flex;
        flex-direction: column;
        width: 100%;

        .col-items {
            background: #fff;
            border-radius: 0.3rem;
            padding: 3px 10px;
            height: 100%;
            margin: 0.7rem;

            h3 {
                color: #6c757d;
                font-weight: 400;
                line-height: 1.5;
            }

            p {
                color: #ccc;
                font-weight: 400;
                line-height: 1.5;
                text-align: start;
            }
        }
    }
}

.week {
    background-color: #d6d7da;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 25px;
    padding: 30px;
    column-gap: 15px;
}

.nav {
    border-radius: 0.3rem;
    width: 195px;
    padding: 8px 0 0;
    cursor: pointer;
    height: 150px;

    a {
        text-decoration: none;
        background: #fff;
        padding: 8px 0 95px;
        display: block;
        border-radius: 0.3rem;
    }

    p {
        &:nth-child(1) {
            text-align: start;
            padding-left: 10px;
            font-size: 1rem;
            color: rgb(0 0 0/26%);
        }
        &:nth-child(2) {
            color: #6c757d;
            font-weight: 700;
            font-size: 1rem;
        }
    }

    &.active {
        color: #aba8cb;
    }
}
.content-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gr-content-week {
    position: relative;
    color: black;
    text-align: start;
    padding: 10px 100px 10px 30px;
    line-height: 2.3rem;
}
.icon-close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}
.details h3 {
    font-weight: 700;
    font-size: calc(1.3rem + .6vw);
}
.details p {
    font-size: 1.25rem!important;
}
.details .col:nth-child(1) .col-items:nth-child(2) {
    position: relative;
}
.details .col #span {
    position: absolute;
    left: 119px;
    top: 49px;
    font-size: 18px;
}
.details .col:nth-child(3) .col-items:nth-child(1) h3 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
